<a href="https://colab.research.google.com/github/HariprasathGurusamy/DW16_Task_4/blob/master/Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [125]:
import numpy as np
import pandas as pd

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [126]:
df_1 = pd.read_csv("/content/college_1.csv")
df_2 = pd.read_csv("/content/college_2.csv")
df = pd.DataFrame(pd.merge(df_1, df_2, how = "outer"))
df

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:1208: UserWarning:

You are merging on int and float columns where the float values are not equal to their int representation

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [127]:
Exceeded_expectation = df.where(df["CodeKata Score"] >= 15000)
Exceeded_expectation.dropna(subset = ["CodeKata Score"], inplace = True)
Exceeded_expectation.to_csv("/content/Exceeded expectations.csv", index = False)
Exceeded_expectation

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500.0,24500.0,Computer Science and Engineering,0.0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740.0,21740.0,Computer Science and Engineering,0.0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680.0,19680.0,Computer Science and Engineering,0.0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400.0,19400.0,Electronics and Electrical Engineering,0.0,0.0,9.0

In [128]:
Reached_expectations = df.where((df["CodeKata Score"] >= 10000) & (df["CodeKata Score"] < 15000))
Reached_expectations.dropna(subset = ["CodeKata Score"], inplace  = True)
Reached_expectations.to_csv("/content/Reached_expectations.csv", index = False)
Reached_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610.0,10610.0,Computer Science and Engineering,0.0,NaN,NaN
85,Chandru,0.0,0.0,14150.0,14490.0,Computer Science and Engineering,340.0,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790.0,10790.0,Computer Science and Engineering,2000.0,55.0,6.0
87,Bodipudi Harini,-1.0,35.0,10040.0,10040.0,Electronics and Communication Engineering,0.0,0.0,-1.0

In [129]:
Unsatisfactory = df.where(df["CodeKata Score"] < 7000)
Unsatisfactory.dropna(subset = ["CodeKata Score"], inplace  = True)
Unsatisfactory.to_csv("/content/Unsatisfactory.csv", index = False)
Unsatisfactory

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860.0,5860.0,Electronics and Communication Engineering,0.0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500.0,5500.0,Computer Science and Engineering,0.0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400.0,5400.0,Electronics and Communication Engineering,0.0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380.0,5380.0,Computer Science and Engineering,0.0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280.0,5280.0,Computer Science and Engineering,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.00,2380.0,2380.0,Computer Science and Engineering,0.0,-1.0,0.0
115,AMARNATH D,-1.0,12.00,1890.0,1890.0,Electronics and Communication Engineering,0.0,52.0,-1.0
116,bala,32.0,0.00,1720.0,1720.0,Electronics and Communication Engineering,0.0,49.0,-1.0
117,XY Z,-1.0,-1.00,0.0,0.0,Computer Science and Engineering,0.0,20.0,-1.0
118,Hariharan,-1.0,-1.00,0.0,0.0,Computer Science and Engineering,0.0,-1.0,0.0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [130]:
avg_previous_geeks = df["Previous Geekions"].mean()
this_week_geeks = df["CodeKata Score"].mean()
print("Average of previous wekk geekcoins :", avg_previous_geeks) 
print("Average of this week geek coins :", this_week_geeks)

Average of previous wekk geekcoins : 3842.3529411764707
Average of this week geek coins : 4051.764705882353

###### No of students participated

In [131]:
no_of_students = df["Name"].count()
print("Number of Students :",no_of_students)

Number of Students : 119

###### #Average completion of python course or my_sql or python english or computational thinking

In [132]:
Total_completion_python = df.where(df["python"] >= 0)
Total_completion_python.dropna(subset = ["python"], inplace = True)

Total_completion_mysql = df.where(df["mysql"] >= 0)
Total_completion_mysql.dropna(subset = ["mysql"], inplace = True)

Total_completion_python_en = df.where(df["python_en"] >= 0)
Total_completion_python_en.dropna(subset = ["python_en"], inplace = True)

Total_completion_computational_thinking = df.where(df["computational_thinking"] >= 0)
Total_completion_computational_thinking.dropna(subset = ["computational_thinking"], inplace = True)

print("Total Completion of python course out of 119 Students:", Total_completion_python["python"].count(), "Students." )
print("Total Completion of mysql course out of 119 Students:", Total_completion_mysql["mysql"].count(), "Students." )
print("Total Completion of python english course out of 119 Students:", Total_completion_python_en["python_en"].count(), "Students." )
print("Total Completion of computational_thinking course out of 119 Students:", Total_completion_computational_thinking["computational_thinking"].count(), "Students." )

All_Data = [Total_completion_python, Total_completion_mysql, Total_completion_python_en, Total_completion_computational_thinking]
Average_completion_of_all = pd.concat(All_Data)
Average_completion_of_all.drop_duplicates(keep = "first", inplace = True)
print("Average completion of python course or my_sql or python english or computational thinking", Average_completion_of_all["Name"].count(), "Students." )

Total Completion of python course out of 119 Students: 92 Students.
Total Completion of mysql course out of 119 Students: 117 Students.
Total Completion of python english course out of 119 Students: 32 Students.
Total Completion of computational_thinking course out of 119 Students: 28 Students.
Average completion of python course or my_sql or python english or computational thinking 119 Students.

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [133]:
Rising_stars = df.sort_values(by = ["Rising"], ascending = False)
Rising_stars.head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [134]:
Shining_stars = df.sort_values(by = ["CodeKata Score"], ascending = False)
Shining_stars.head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [135]:
import plotly.express as px
fig=px.pie(df,names="Department",values="CodeKata Score", hole = 0.5)
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [136]:
Unique_departments = np.array(df["Department"].unique())
print(Unique_departments)

['Computer Science and Engineering'
 'Electronics and Communication Engineering'
 'Electronics and Electrical Engineering']

In [137]:
CS_dept = df.where(df["Department"] == "Computer Science and Engineering")
CS_dept.dropna(subset = ["Department"], inplace = True)
CS_dept.fillna(0, inplace = True)

In [138]:
CS_dept["Total_marks"] = CS_dept["python"] + CS_dept["mysql"] + CS_dept["python_en"] + CS_dept["computational_thinking"]
CS_dept = CS_dept.sort_values(by = "Total_marks", ascending = False)
max_marks = CS_dept["Total_marks"].max()
CS_dept = CS_dept.where(CS_dept["Total_marks"] == max_marks)
CS_dept.dropna()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking,Total_marks
45,PRAVEENA K,100.0,100.0,1320.0,1320.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
24,MEERA.M,100.0,100.0,3200.0,3200.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
22,Yuvasri,100.0,100.0,3460.0,3460.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
28,pooja priya.B,100.0,100.0,2570.0,2570.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
34,tamilarasi,100.0,100.0,1910.0,1910.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
15,Pavithra,100.0,100.0,4600.0,4600.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
26,sri dharshini,100.0,100.0,3110.0,3110.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
56,pravina,100.0,100.0,720.0,720.0,Computer Science and Engineering,0.0,0.0,0.0,200.0
2,HEMAVATHI.R,100.0,100.0,19680.0,19680.0,Computer Science and Engineering,0.0,0.0,0.0,200.0

In [139]:
ECE_dept = df.where(df["Department"] == "Electronics and Communication Engineering")
ECE_dept.dropna(subset = ["Department"], inplace = True)
ECE_dept.fillna(0, inplace = True)

In [140]:
ECE_dept["Total_marks"] = ECE_dept["python"] + ECE_dept["mysql"] + ECE_dept["python_en"] + ECE_dept["computational_thinking"]
ECE_dept = ECE_dept.sort_values(by = "Total_marks", ascending = False)
max_marks = ECE_dept["Total_marks"].max()
ECE_dept = ECE_dept.where(ECE_dept["Total_marks"] == max_marks)
ECE_dept.dropna()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking,Total_marks
100,Guhan S,-1.0,35.0,7310.0,7630.0,Electronics and Communication Engineering,320.0,72.0,39.0,145.0

In [141]:
EEE_dept = df.where(df["Department"] == "Electronics and Electrical Engineering")
EEE_dept.dropna(subset = ["Department"], inplace = True)
EEE_dept.fillna(0, inplace = True)

In [142]:
EEE_dept["Total_marks"] = EEE_dept["python"] + EEE_dept["mysql"] + EEE_dept["python_en"] + EEE_dept["computational_thinking"]
EEE_dept = EEE_dept.sort_values(by = "Total_marks", ascending = False)
max_marks = EEE_dept["Total_marks"].max()
EEE_dept = EEE_dept.where(EEE_dept["Total_marks"] == max_marks)
EEE_dept.dropna()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking,Total_marks
64,k.parvathi,100.0,100.0,260.0,260.0,Electronics and Electrical Engineering,0.0,0.0,0.0,200.0
77,J.JAYANTHI,100.0,100.0,40.0,40.0,Electronics and Electrical Engineering,0.0,0.0,0.0,200.0

In [143]:
fig = px.bar(CS_dept, x = "Name", y = ["python", "mysql", "python_en", "computational_thinking"], title = "Topeers in Computer Science and Engineering Department" )
fig.show()

In [144]:
fig = px.bar(ECE_dept, x = "Name", y = ["python", "mysql", "python_en", "computational_thinking"], title = "Topeers in Electronics and Communication Engineering Department" )
fig.show()

In [145]:
fig = px.bar(EEE_dept, x = "Name", y = ["python", "mysql", "python_en", "computational_thinking"], title = "Topeers in Electronics and Electrical Engineering Department" )
fig.show()